button {
  /* padding: 10px;
  background: gray;
  border-radius: 5px;
  color: blue;
  font-weight: bold; */

  /* position: absolute;
  top: calc(50% + 200px);
  right: 0; */
}

.display {
  margin: 10px;
}